.invite-wrap {
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

.text-block-invite {
  margin: 60px 0;
  text-align: center;

  h2 {
    font-size: 28px;
  }
}

img.invite-confirmation {
  width: 70%;
}
